# Build
bin/
obj/
TestResults/

# User-specific
*.user
*.suo
*.userosscache
*.sln.docstates

# VSCode
.vscode/
.history/

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/

# Dotnet artifacts
*.dll
*.pdb
*.cache
*.db

# Rider / JetBrains
.idea/

# Docker
*.pid
.env

# Archivos de seeds o datos de prueba que NO deben ir a Git
backend/migrations/V2__db_seed.sql